include ../partials/header.pug

header(id="menu")
  div(class="menu__trait")
  <div class="menu__title">
    h1 Justice League
    h2 Présentation des Justiciers
  </div>
  div(class="menu__trait")

<section id="perso">
  h1 Batman
  div(class="perso__img")
  p Créé par le dessinateur Bob Kane et le scénariste Bill Finger, il apparaît pour la première fois dans le comic book Detective Comics no 27 avec le nom de The Bat-Man. Bien que ce soit le succès de Superman qui ait amené sa création, il se détache de ce modèle puisqu'il n'a aucun pouvoir surhumain. Batman n'est qu'un simple humain qui a décidé de lutter contre le crime après avoir vu ses parents se faire abattre par un voleur dans une ruelle de Gotham City, la ville où se déroulent la plupart de ses aventures.
</section>

include ../partials/footer.pug
