@import 'blocs/header';
@import 'blocs/footer';
@import 'mixins';
@import 'medias';
@import url('https://fonts.googleapis.com/css?family=Contrail+One|Philosopher');

*
{
  margin:0;
  background: rgb(15,15,52);
  box-sizing: content-box;
}

$special-white:rgb(200,200,200);
$size-paragraphe:2rem;

// PREPARATION DES BLOCS COMMUNS

h1 {
  color: $special-white;
  font-size: 8rem;
  font-family: 'Contrail One', cursive;
}

p {
  color: $special-white;
  width:50%;
  font-size: $size-paragraphe;
  text-align: justify;
  background-color: transparent;
  font-family: 'Philosopher', sans-serif;

  span {
    font-size: $size-paragraphe + 3;
    font-family: 'Contrail One', cursive;
    background-color: transparent;
  }

  @include medium {
    font-size: 1.8rem;
  }

  @include large {
    font-size: 1.3rem;
  }
}

.button {
  background-color: rgba(230,230,230,0.8);
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: black;
  text-decoration: none;
}
/* Border Fade */
.e {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 2px transparent, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.e:hover, .e:focus, .e:active {
  box-shadow: inset 0 0 0 2px white, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

// DEBUT DU CODE

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;

  .menu__trait {
    width:10%;
    height:2px;
    background-color: white;
    display: none;

    @include large {
      display: flex;
    }
  }

  .menu__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size: 12rem;

    @include medium {
      font-size: 8rem;
    }
  }

  h2 {
    color: $special-white;
    font-size: 3rem;

    @include medium {
      font-size: 2rem;
    }
  }

  .menu__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: $special-white;
      padding:0 3vh;
    }

  }
}

#batman {

  position: relative;

  @include large {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding: 6vh 0;
  }

  h1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;

    @include medium {
      font-size: 5rem;
    }
    @include large {
      font-size: 3rem;
    }
  }

  .batman__img {
    background: url("../img/batman.png") no-repeat;
    background-size: cover;
    width: 60%;
    height:40vh;

    @include medium {
      height:60vh;
    }
  }

  p {
    position: absolute;
    top: 20%;
    right: 60px;
  }
}

#flash {

  position: relative;

  @include large {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding: 6vh 0;
  }

  h1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;

    @include medium {
      font-size: 5rem;
    }
    @include large {
      font-size: 3rem;
    }
  }

  .flash__img
  {
    background: url("../img/flash.png") no-repeat;
    background-size: cover;
    width: 60%;
    height: 40vh;
    margin-left: 40%;

    @include medium {
      height:60vh;
    }
  }

  p {
    position: absolute;
    top: 20%;
    left: 60px;
  }
}

#aquaman {

  position: relative;

  @include large {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding: 6vh 0;
  }

  h1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;

    @include medium {
      font-size: 5rem;
    }
    @include large {
      font-size: 3rem;
    }
  }

  .aquaman__img {
    background: url("../img/aquaman.png") no-repeat;
    background-size: cover;
    width: 60%;
    height: 40vh;

    @include medium {
      height:60vh;
    }
  }

  p {
    position: absolute;
    top: 20%;
    right: 60px;
  }
}

#greenwoman {

  position: relative;

  @include large {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid white;
    padding: 6vh 0;
  }

  h1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;

    @include medium {
      font-size: 5rem;
    }
    @include large {
      font-size: 3rem;
    }
  }

  .wonderwoman__img
  {
    background: url("../img/wonderwoman.png") no-repeat;
    background-size: cover;
    width: 60%;
    height: 40vh;
    margin-left: 40%;

    @include medium {
      height:60vh;
    }
  }

  p {
    position: absolute;
    top: 20%;
    left: 60px;
  }
}

#wonderlantern {

  position: relative;

  @include large {
    width: 50%;
    margin: 0 auto;
    padding: 6vh 0;
  }

  h1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;

    @include medium {
      font-size: 5rem;
    }
  }

  .greenlantern__img {
    background: url("../img/greenlantern.png") no-repeat;
    background-size: cover;
    width: 60%;
    height: 40vh;

    @include medium {
      height:60vh;
    }
  }

  p {
    position: absolute;
    top: 20%;
    right: 60px;

    @include large {
      width: 40%;
    }
  }
}
